{% extends "admin/change_list.html" %}

{% block content_title %}
<h1 class="feature-title">Status de e-mails enviados</h1>

<div id="recipientStatusAlert" class="alert alert-secondary" style="line-height: 1.5; display:none" role="alert">
    {% for key, item in recipient_status_list.items %}
    <b>{{key}} - {{item.title}}</b> - {{item.description}}<br>
    {% endfor %}
</div>
{% endblock %}

{% block object-tools-items %}
<a href="javascript:void();" onclick="$('#recipientStatusAlert').toggle();" class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-list me-1"></i> Ver Lista de Status</a>
{{block.super}}
{% endblock %}

{% block extrajs %}
{{block.super}}
{{recipient_status_list|json_script:"recipient-status-data"}}
<script>
    const statusData = JSON.parse(document.getElementById('recipient-status-data').textContent);

    function showDescription(recipient_status) {
        alert(statusData[recipient_status]['description']);
    }
</script>
{% endblock %}
